<div class="show">
    <div class="restaurant_data_detail">
        <div class="photo"><img src=<%= @restaurant["results"]["shop"][0]["photo"]["pc"]["l"] %>></img></div>
        <h1 class="name"><%= @restaurant["results"]["shop"][0]["name"] %></h1>
        <p class="shop_title"><%= @restaurant["results"]["shop"][0]["catch"] %></p>
        <p class="access">アクセス：<%= @restaurant["results"]["shop"][0]["access"] %></p>
        <p class="address">住所：<%= @restaurant["results"]["shop"][0]["address"] %></p>
        <p class="genre">ジャンル：<%= @restaurant["results"]["shop"][0]["genre"]["name"] %></p>
        <p class="budget">予算：<%= @restaurant["results"]["shop"][0]["budget"]["average"] %></p>
        <p class="budget_memo">料金備考：<%= @restaurant["results"]["shop"][0]["budget_memo"] %></p>
        <p class="open">営業時間：<%= @restaurant["results"]["shop"][0]["open"] %></p>
        <p class="close">定休日：<%= @restaurant["results"]["shop"][0]["close"] %></p>
        <p class="parking">駐車場：<%= @restaurant["results"]["shop"][0]["parking"] %></p>
        <p class="card">カード払い：<%= @restaurant["results"]["shop"][0]["card"] %></p>
        <p class="non-smoking">禁煙席：<%= @restaurant["results"]["shop"][0]["non_smoking"] %></p>
    </div>
</div>