<!DOCTYPE html>
<html>
  <head>
    <title>Nearbyrestaurant</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kosugi+Maru&display=swap" rel="stylesheet">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header id="top">
      <h1 class="title"><a href="/">Nearby Restaurants</a></h1>
    </header>
    <%= yield %>
    <p class="pagetop"><a>▲</a></p>
  </body>
</html>
